/*-- scss:defaults --*/

/* $primary: #fdfdfd;
$navbar-bg: #021f2b;
$navbar-fg: $primary;
$link-color: $primary;
*/

/*-- scss:rules --*/

.navbar-brand {
    font-family: 'Hanken Grotesk';
    font-weight: 600;
    font-size: 30px;
}
